// * {
//   margin: 0;
//   padding: 0;
// }
.blue {
  width: 100%;
  height: 100px;
  background-color: #77c1bb;
}
.film-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.film-poster {
  /* display: block; */
  /* margin: auto; */
  margin-bottom: 20px;
}
.data-wrapper {
}
.film-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(55, 44, 72);
  line-height: 1.2;
  margin-bottom: 10px;
}

.film-table {
  margin-bottom: 30px;
}
.film-data {
  color: rgba(0, 0, 0, 0.541);
  line-height: 1.2;
  opacity: 0.6;
  /* background-color: #77c1bb;  нечет*/
}
.film-description-heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(55, 44, 72);
  line-height: 1.2;
}
.film-description {
  font-size: 14px;
  font-family: 'Roboto';
  color: rgba(55, 44, 72, 0.541);
  line-height: 1.286;
  text-align: left;
  margin-bottom: 40px;
}
.button {
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  text-align: center;
  background-color: transparent;
  border: none;
}
.button:hover {
  outline: solid 1px #77c1bb;
  cursor: pointer;
}
button > span {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
}
.addToWatchedIcon {
  background-image: url(../images/video-watched.png);
}
.addToQueueIcon {
  background-image: url(../images/calendar-queue.png);
}

@media (min-width: 768px) {
  .film-card {
    flex-direction: row;
  }
  .film-poster {
    margin-right: 20px;
  }
}
